:root {
    color-scheme: light dark;
    --border-radius: 10px;
    --font-size: 3.5rem;
    --font-family: Arial, sans-serif;
    --color-hours: #f00;
    --color-minutes: #0f0;
    --color-seconds: rgb(255, 242, 0);
}
body {
    display: grid;
    place-items: center;
    font-family: monospace;
}
main {
    margin-top: 34px;
}
.Anuncio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: content-box;
    margin: 0;
    font-size: 3rem;
    font-family: 'Mountains of Christmas', serif;
    font-weight: 700;
    font-style: normal;
    h1 {
        color: #fff;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000,
            0 0 100px #ff0000, 0 0 150px #ff0000;
        animation: text-shadow 10s ease-in-out infinite;
    }
    h1::before {
        content: 'For';
        position: absolute;
        color: #fff;
        font-size: 1.4rem;
        top: 25%;
        left: 5%;
    }
}
@keyframes text-shadow {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000,
            0 0 100px #ff0000, 0 0 150px #ff0000;
    }
    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00ff00, 0 0 35px #00ff00, 0 0 40px #00ff00,
            0 0 50px #00ff00, 0 0 75px #00ff00;
    }
}
x-counter {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-size: var(--font-size);
    .hours,
    .minutes,
    .days,
    .seconds {
        position: relative;
        border-radius: var(--border-radius);
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }
    .hours {
        color: var(--color-hours);
    }
    .hours::after {
        content: 'Hours';
        position: absolute;
        color: #8a8a8a4e;
        font-size: 12px;
        bottom: -20px;
        left: 25%;
    }
    .minutes {
        color: var(--color-minutes);
    }
    .minutes::after {
        content: 'Minutes';
        position: absolute;
        color: #8a8a8a4e;
        font-size: 12px;
        bottom: -20px;
        left: 25%;
    }
    .days {
        color: var(--color-seconds);
    }
    .days::after {
        content: 'Days';
        position: absolute;
        color: #8a8a8a4e;
        font-size: 12px;
        bottom: -20px;
        left: 25%;
    }
    .seconds {
        margin-top: 11%;
        color: rgb(128, 128, 128);
        font-size: 12px;
    }
}
/*-----------------------------------------------------------------------*/
.date_card {
    position: absolute;
    left: -120px;
    top: 100px;
    transform: rotateY(25deg) rotateX(0deg) rotateZ(-10deg);
    z-index: 1;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 10px;
    animation: rotate_card 3s cubic-bezier(0.66, 0, 0.34, 1) infinite;
    .circle {
        position: absolute;
        width: 10px;
        height: 10px;
        background: rgb(0, 0, 0);
        border-radius: 50%;
        left: 90%;
        top: 5px;
    }
    .date {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        header {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: #f00;
            padding: 10px;
            box-sizing: content-box;
            color: #fff;
            height: calc(150px / 2);
        }
        .Calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 2px;
            padding: 3px;
            div {
                width: auto;
                height: auto;
                background-color: rgb(156, 156, 156);
                padding: 5px;
                border-radius: 15%;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
}

@keyframes rotate_card {
    0% {
        transform: rotateY(25deg) rotateX(0deg) rotateZ(-10deg) translateZ(0px);
    }
    20% {
        transform: rotateY(30deg) rotateX(5deg) rotateZ(-15deg) translateZ(10px);
    }
    40% {
        transform: rotateY(20deg) rotateX(-5deg) rotateZ(-5deg) translateZ(-10px);
    }
    60% {
        transform: rotateY(35deg) rotateX(10deg) rotateZ(-20deg) translateZ(20px);
    }
    80% {
        transform: rotateY(15deg) rotateX(-10deg) rotateZ(-10deg) translateZ(-20px);
    }
    100% {
        transform: rotateY(25deg) rotateX(0deg) rotateZ(-10deg) translateZ(0px);
    }
}
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        display: flex;
        height: 80vh;
    }
    main {
        margin: auto;
    }
    .tree {
        display: none;
    }

    .Anuncio {
        font-size: 2rem;
    }

    x-counter {
        gap: 5px;
        padding: 10px;
        font-size: 2rem;
    }

    .hours,
    .minutes,
    .days {
        padding: 50px;
        position: relative;
    }
    .date_card {
        left: 60px;
        top: 150px;
        z-index: 0;
    }
}
